/* Styles généraux */
body {
    background-color: #D2B48C;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
}

/* En-tête */
header {
    background: url('/IMAGES/image1.png') center center/cover no-repeat;
    color: #ffffff;
    text-align: center;
    padding: 100px 0;
    position: relative;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#site-title {
    font-size: 48px;
    font-weight: bold;
    font-style: italic;
    margin: 0;
    padding: 10px 20px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

/* Nav bar */
nav {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8); /* Fond plus transparent */
    display: flex;
    justify-content: center;
    border-bottom: 2px solid #333;
    top: 0;
    align-items: center;
    margin: 5px;

}

nav ul {
    position: relative;
    display: inline-block;
}

nav li {
    padding: 5px;
    margin: 6px;
    align-items: center;
}

nav a {
    color: #333;
    text-decoration: none;
    padding: 8px 15px;
    border: 2px solid #4d4d4d;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: #4d4d4d;
    color: #fff;
}

/* Nouvelle classe pour la carte */
.map-container-fullwidth {
    width: 100%; /* Utiliser 100% de la largeur disponible */
    max-width: none; /* Supprimer la limite maximale de largeur */
    margin: 0 auto; /* Centrez horizontalement le conteneur */
    overflow: hidden; /* Empêcher le débordement horizontal */
}

/* Styliser la carte spécifique à cette classe */
.map-container-fullwidth iframe {
    width: 100%; /* Utiliser 100% de la largeur du conteneur */
    max-width: none; /* Supprimer la limite maximale de largeur */
}

/* Informations Utiles */
#information-utile {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f3e8d9;
    margin-top: 40px;
    padding: 30px;
}

#Critique-vidéo,
#histoire-vermeer,
#oeuvres-vermeer,
#vermeer-au-louvre {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f3e8d9;
    margin-top: 40px;
    padding: 30px;
}

#info-container {
    display: flex;
    width: 100%;
    flex-wrap: wrap; /* Permet aux éléments de passer à la ligne sur des écrans plus petits */
}

#map-container {
    width: 100%;
    max-width: 400px;
    margin-bottom: 20px;
}

#texte-prix-container {
    width: calc(100% - 20px);
    margin-top: 20px;
    font-size: 14px;
    font-family: Verdana, sans-serif;
    font-weight: bold;
}

#Le-Chapeau-de-Vermeer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f3e8d9;
    margin-top: 40px;
    padding: 30px;
}

#video-container {
    margin-bottom: 20px;
}

#histoire-vermeer p {
    font-size: 13px;
    font-family: Verdana, sans-serif;
    font-weight: bold;
}

.oeuvres-vermeer {
    position: relative;
    margin: auto;
    align-items: center;
    display: flex;
}

#imageContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    justify-content: center;
}

.oeuvre {
    text-align: center;
}

.randomImage {
    width: 100%;
    max-width: 100%;
    height: auto;
}

/* Alignement avec les autres éléments */
#information-utile,
#Critique-vidéo,
#histoire-vermeer,
#vermeer-au-louvre {
    text-align: center;
}


/* Ajouter des règles de médias pour rendre le site plus réactif */
@media screen and (max-width: 768px) {
    #site-title {
        font-size: 36px;
    }

    nav li {
        margin-right: 10px;
    }

    nav a {
        padding: 8px 10px;
    }

    #info-container {
        flex-direction: column;
    }

    #texte-prix-container {
        width: 100%;
    }
    #imageContainer {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Pied de page */
footer {
    background-color: #4d4d4d;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    font-size: 14px;
    opacity: 0.8;
}

/* Styles pour la fenêtre pop-up de consentement aux cookies */
.cookie-consent-popup {
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

#accept-cookies-btn {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
}

#refuse-cookies-btn {
    background-color: #af4c4c;
    color: #fff;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
}
