/* style.css */

/* Styles généraux */
body {
    background: url('https://github.com/Overr74/Projet-Vermeer/blob/main/NapoleonOnStHelena.jpg') no-repeat center center fixed;
    background-size: cover;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* En-tête */
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

#site-title {
    font-size: 36px; /* Taille du texte du titre */
    font-weight: bold; /* Texte en gras */
    font-style: italic; /* Texte en italique */
    margin: 0; /* Supprime la marge par défaut du titre */
    padding: 10px 0; /* Ajoute de l'espace autour du titre */
    background: linear-gradient(to right, #333, transparent); /* Fond gris foncé dégradé qui se dégarnit */
}

/* Nav bar */
nav ul {
    list-style-type: none;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    color: #3498db;
    text-decoration: none;
}

/* Sections */
section {
    margin-top: 30px;
    padding: 20px;
}

/* Carrousel */
#carousel {
    /* Styles du carrousel ici */
}

/* Pied de page */
footer {
    background-color: #333; /* Couleur gris foncé pour le pied de page */
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

footer p {
    font-size: 12px;
    opacity: 0.7; /* Opacité pour le watermark */
}
