/* styles.css */

/* Styles généraux */
body {
    background: url('nom-de-votre-image.jpg') no-repeat center center fixed; /* Chemin vers votre image */
    background-size: cover;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #666; /* Couleur grise pour l'en-tête */
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    color: #3498db; /* Couleur bleu clair pour les liens */
    text-decoration: none;
}

/* Styles spécifiques pour les sections */
section {
    margin-top: 30px;
    padding: 20px;
}

/* Styles spécifiques pour le carrousel */
#carousel {
    /* Styles du carrousel ici */
}